.product-item{
	position: relative;
}
.product-image{
	width: 120px;
	display: inline-block;
	padding-left: 12px;
}
.product-image img{
	position: absolute;
	top:0;
	width: 120px;
	display: inline;
}

.product-text{
	width: calc(99% - 150px);
	display: inline-block;
}

.product-text h2, .product-author{
	vertical-align: top;
	margin-top: 0;
	-webkit-margin-before: 0;
	margin-bottom: 0;
	-webkit-margin-after: 0;
	display: inline-block;
}

.product-title, .product-author, .product-description{
	text-align: left;
}

.product-author{
	font-weight: bold;
}

.product-item .product-title{
	width: calc(99% - 140px);
}

.product-item .product-price,{
	width: 120px;
	text-align: right;
}

.product-author, .product-description{
	margin-top: 0;
	-webkit-margin-before: 0;
}
