html, body{
	font-family: "Trebuchet MS";
	font-size: 1em;
	padding:0;
	margin:0;
	-webkit-margin-start:0;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li{
	padding-left: 12px;
	padding-right: 12px;
}

.base-color, .base-color a, .base-color a:visited{
	background-color: #ffffff;
	color: #4527a0;
}

.base-color-background, .base-color-background a, .base-color-background a:visited{
	background-color: #4527a0;
	color: #ffffff;
}

.base-color-underline{
	border-bottom: 2px solid #4527a0;
}

.highlight-color, .highlight-color a, .highlight-color a:visited{
	background-color: #ffffff;
	color: #26c6da;
}

.highlight-background, .highlight-background a, .highlight-background a:visited{
	background-color: #26c6da;
	color: #ffffff;
}

.highlight-underline{
	border-bottom: 2px solid #26c6da;
}

.form-space{
	width: 240px;
	margin: 0 auto;
	display: block;
}

.form-space form{
	text-align: right;
}
.form-space form button{
	margin-right: 5px;
}

.true{
	color: green;
}

.false{
	color: red;
}

.product-filters{
	border-bottom: 2px solid red;
}