html, body{
	font-family: "Trebuchet MS";
	font-size: 1em;
	padding:0;
	margin:0;
	-webkit-margin-start:0;
	box-sizing: border-box !important;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li{
	margin-left: 12px;
	margin-right: 12px;
}

button, .button, input[type="submit"]{
	width: 100px;
	height: 25px;
	border: 0;
	margin: 12px 0 12px 12px;
}

.base-color, .base-color a, .base-color a:visited{
	background-color: #ffffff;
	color: #4527a0;
}

.base-color-background, .base-color-background a, .base-color-background a:visited{
	background-color: #4527a0;
	color: #ffffff;
}

.base-color hr{
	border-width: 0;
	height: 1px;
	color: #4527a0;
	background-color: #4527a0;
}

.base-color-underline{
	border-bottom: 2px solid #4527a0;
}

.highlight-color, .highlight-color a, .highlight-color a:visited{
	background-color: #ffffff;
	color: #26c6da;
}

.highlight-color hr{
	border-width: 0;
	height: 1px;
	color: #26c6da;
	background-color: #26c6da;
}

.highlight-color form input[type=text],
.highlight-color form input[type=email],
.highlight-color form input[type=password],
.highlight-color form input[type=number],
.highlight-color form select,
.highlight-color form textarea {
	border: 1px solid #26c6da;
	-webkit-box-shadow: inset 0px 0px 27px -8px rgba(0,0,0,0);
	-moz-box-shadow: inset 0px 0px 27px -8px rgba(0,0,0,0);
	box-shadow: inset 0px 0px 27px -8px rgba(0,0,0,0);
	transition: all cubic-bezier(0.61, -0.04, 0.32, 1.28) .5s;
	color: #26c6da;
}

.highlight-color form input[type=text]:focus,
.highlight-color form input[type=email]:focus,
.highlight-color form input[type=password]:focus,
.highlight-color form input[type=number]:focus,
.highlight-color form select:focus,
.highlight-color form textarea:focus {
	-webkit-box-shadow: inset 0px 0px 27px -8px rgba(38,182,218,0.5);
	-moz-box-shadow: inset 0px 0px 27px -8px rgba(38,182,218,0.5);
	box-shadow: inset 0px 0px 27px -8px rgba(38,182,218,0.5);
}
.highlight-color input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color:#26c6da;
}

.highlight-color button, .highlight-color .button, .highlight-color input[type="button"], .highlight-color input[type="submit"]{
	background-color: #26c6da;
	color: #ffffff;	
	box-shadow: 0px 4px 4px #ddd;
	transition: 0.5s ease-in;
}

.highlight-color button:hover, .highlight-color .button:hover, .highlight-color input[type="button"]:hover, .highlight-color input[type="submit"]:hover{
	box-shadow: 0px 4px 4px #bbb;
}

.highlight-color button:disabled, .highlight-color .button:disabled, .highlight-color input[type="button"]:disabled, .highlight-color input[type="submit"]:disabled{
	background-color: rgba(38, 182,202, 0.5);
	box-shadow: 0px 4px 4px transparent;
	color: #ffffff;	
}

.highlight-background, .highlight-background a, .highlight-background a:visited{
	background-color: #26c6da;
	color: #ffffff;
}

.highlight-underline{
	border-bottom: 2px solid #26c6da;
}

.half{
	vertical-align: top;
	width: calc(50% - 12px);
	display: inline-block;
}

textarea:focus, input:focus{
    outline: none;
}

.form-space{
  -webkit-margin-before: 1.16em;
	width: 240px;
	float:right;
	display: block;
}

.form-space form{
	text-align: right;
}
.form-space form button{
	margin-right: 5px;
}

.true{
	color: green;
}

.false{
	color: red;
}

.product-filters{
	border-bottom: 2px solid red;
}